.header-title {
  font-size: 2rem;
  color: #ffffff;
  padding: 0;
    margin: 0.7rem 1rem 0.7rem 5rem;
}

header {
  background-color: #ffffff;
  padding: 0.1rem;
  text-align: left;
  display: block;
  justify-content: left;
  align-items: left;  
}

.logo-image {
    height: 60px;
    width: auto;
    margin-left: 5rem;
}
